body {
  background-color: #282c33;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
}

.los-angeles {
  background-image: url(`images/los-angeles.jpg`);
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #3f68de;
  text-decoration: none;
}
